<h1>Welcome to the Word Count Game</h1>
<form action="/word_count">
  <div class="form-group">
     <label for="word_to_be_searched">type in a word that you want to search for</label>
     <input id="word_to_be_searched" name="word_to_be_searched" class="form-control" type="text">
     <label for="sentence_to_be_searched_in">Sentence you wish to be searched</label>
     <input id="sentence_to_be_searched_in" name="sentence_to_be_searched_in" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">search</button>
</form>
