<h1>Welcome to the Word Count Game</h1>
<form action="/word_count">
  <div class="form-group">
     <label for=""></label>
     <input id="" name="" class="form-control" type="text">
     <label for=""></label>
     <input id="" name="" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Go</button>
</form>
